# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Testing
coverage
.nyc_output

# Build
dist
build

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env*
!.env.example

# Git
.git
.gitignore

# Documentation
README.md
docs
*.md

# CI/CD
.github
.gitlab-ci.yml
.travis.yml

# Docker
Dockerfile*
docker-compose*
.dockerignore